<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">    	
	    <meta name="viewport" content="width=device-width, initial-scale=1">		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link href="pictures/GP-favicon.png" rel="icon" type="image/png">
	</head>
	<body>
		<nav id="myNav" class=""><!--done in windowsOnload.js--></nav>
		<script src="js/windowsOnload.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>