<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">    	
	    <meta name="viewport" content="width=device-width, initial-scale=1">		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	    <link href="pictures/GP-favicon.png" rel="icon" type="image/png">

		<link href="css/index.css" rel="stylesheet" type="text/css"/> 
	</head>
	<body>
		<nav id="myNav" class=""><!--done in windowsOnload.js--></nav>
		<div class="jumbotron">
			<div class="container">
				<h2 id="h2test">Welcome to my website</h2>
				<p>My name is Giang Phan, and I am a web application developer from Atlanta, Georgia. </p>
			</div>	
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>My Resume</h2>
					<ul>
						<li>Bachelor Degree in Computer Science. </li>
						<li>Six years working in IT field for Clayton State University.</li>
						<li>Has been coding in JavaScript, NodeJS, HTML, CSS and PHP.</li>
						<li>Coded in different languages before: C++, C#, and Java</li>
						<li>...</li>
					</ul>
					<p>
						<a id="resume" class="btn btn-default popMid" href="files/resume.html" role="botton">Read more </a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Work Notes</h2>
					<p>This section is for:</p>
					<ul>
						<li>Showing off my works</li>
						<li>Taking notes on my working process</li>
						<li>Keeping track on my working process</li>
					</ul>					
					<p>
						<a class="btn btn-default" href="/work_note" role="botton">View details</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>heading 3</h2>
					<p>this website number three: </p>
					<p>
						<a class="btn btn-default" href="#" role="botton">View details </a>
					</p>
				</div>
			</div>
			<hr/>
			<footer>
				<p>© 2016 Company, Inc.</p>
			</footer>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="js/windowsOnload.js" ></script>
	</body>
</html>