<html>
<body>
 <p>testing page</p>

 <ul>
	<li id="13" class="testingClas"></li>
	<li id="14" class="testingClas"></li>
	<li id="12" class="testingClas"></li>
	<li id="15" class="testingClas"></li>

 </ul>


 
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	
<script>
	var testing =[];
			testing=document.getElementsByClassName("testingClas");
			console.log("testing: " + testing.length);
			var testingId=[];
			for(var g=0; g<testingClas.length; g++){
				testingId = testing[g].id;
				console.log(testingId);

</script>
</body>
</html>